In [3]:
print('AUM')

AUM

In [7]:
# Identity operator
var1='Om Gan Ganpathaye Namaha'
var2='Om Namah Shivaya'
print(var1 is not var2)
print(var1 is var2)

True
False

In [10]:
# Membership operator
var1='Om Gan Ganapathaye Namaha'
var2='Om Namah Shivaya'
print("k" in var1)
print("S" not in var2)

False
False

In [16]:
val=input("Enter your value: ")
print(val)

Enter your value: ['a','b','c']
['a','b','c']

In [17]:
val=input("Enter your value: ")
print(val)

Enter your value: 10
10

In [18]:
val=input("Enter your value: ")
print(val)

Enter your value: c
c

In [19]:
val=input("Enter your value: ")
print(val)

Enter your value: "sri"
"sri"

In [20]:
val=input("Enter your value: ")
print(val)

Enter your value: 1.1
1.1

In [21]:
val=input("Enter your value: ")
print(val)

Enter your value: [var1:10, var2:20, var3:30]
[var1:10, var2:20, var3:30]

In [24]:
# Zero or more expression separated by commas.
# Converts expressions into a string.
print()

In [25]:
print('Aum Namah Shivaya')

Aum Namah Shivaya

In [31]:
print("x=", 1)

x= 1

In [34]:
print('A', 'U', 'M', sep='')

AUM

In [35]:
print('AUM',end='@')

AUM@

In [38]:
# Data type
# Numeric
# -Integer, Float, Complex Number
# Dictionary
# Boolean
# Set
# Sequence Type
# - Strings, List, Tuple

a=5
b=2.2
c=2+4j
print('Type of a: ', type(a))
print('Type of b: ', type(b))
print('Type of c: ', type(c))

Type of a:  <class 'int'>
Type of b:  <class 'float'>
Type of c:  <class 'complex'>

In [39]:
# Sequence Type
# - String, Tuple, List
# String collection of one or more characters
singleQuote='AUM'
doubleQuote="AUM"
tripleQuote='''AUM'''
print(singleQuote)
print(doubleQuote)
print(tripleQuote)

AUM
AUM
AUM

In [42]:
# character is a string of length 1 in python
# since there is no character data type in python
char='c'
print(char)
print('Type of char: ', type(char))

c
Type of char:  <class 'str'>

In [45]:
string='AUM NAMAH SHIVAYA'
print('len: ', len(string))
print(string[1])
print(string[-1])
print(string[-2])
print(string[-3])

len:  17
U
A
Y
A

In [50]:
string="Hello Sri"
string[1]="i"
del string[2]

TypeError: 'str' object does not support item assignment

In [51]:
List=[]
print(List)

[]

In [52]:
List=["AUM","NAMO"]
print(List)

['AUM', 'NAMO']

In [53]:
List=[['AUM','NAMAH'],['SHIVAYA']]
print(List)

[['AUM', 'NAMAH'], ['SHIVAYA']]

In [54]:
List=[]
List.append(1)
List.append(2)
print(List)

[1, 2]

In [69]:
List.insert(1,3)
print(List)

[1, 3, 3, 2]

In [70]:
# remove the first occurrence of element from 0 index
List.remove(3)
print(List)

[1, 3, 2]

In [71]:
List.insert(3,4)
print(List)

[1, 3, 2, 4]

In [72]:
List.insert(4,3)
print(List)

[1, 3, 2, 4, 3]

In [73]:
List.remove(3)
print(List)

[1, 2, 4, 3]

In [75]:
print(List[1])
print(List[4])
print(List[-1])
print(List[-3])

2

IndexError: list index out of range

In [78]:
print(List[1])
print(List[3])
print(List[-1])
print(List[-3])

2
3
3
2

In [79]:
print(List)

[1, 2, 4, 3]

In [89]:
List.append(4)
List.append(3)
print(List)

[1, 2, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3]

In [92]:
List.remove(4)
List.remove(3)
print(List)

[1, 2, 4, 3, 4, 3]

In [94]:
List.pop()
print(List)

[1, 2, 4, 3]

In [96]:
List.pop()
print(List)

[1, 2]

In [97]:
Tuple=1,2,3
print(Tuple)

(1, 2, 3)

In [98]:
Tuple1=(1,2,3)
print(Tuple1)

(1, 2, 3)

In [99]:
print(('Sri', 'Ram'))

('Sri', 'Ram')

In [100]:
print(tuple(['Sri', 'Ram']))

('Sri', 'Ram')

In [101]:
Tuple2=(4,5,6)
print(Tuple2)

(4, 5, 6)

In [102]:
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((1, 2, 3), (4, 5, 6))

In [105]:
Tuple4=tuple(1,2,3,4,5,6)
print(Tuple4)

TypeError: tuple expected at most 1 argument, got 6

In [106]:
Tuple4=tuple([1,2,3,4,5,6])
print(Tuple4)

(1, 2, 3, 4, 5, 6)

In [107]:
print(Tuple4[4])
print(Tuple4[-4])

5
3

In [108]:
Tuple4[5]=7

TypeError: 'tuple' object does not support item assignment

In [109]:
del Tuple4[5]

TypeError: 'tuple' object doesn't support item deletion

In [110]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [111]:
print(0>1)

False

In [112]:
print('z'=='Z')

False

In [113]:
print('z'=='z')

True

In [114]:
Set={1,2,3}
print(Set)

{1, 2, 3}

In [117]:
Set1=set(1,2,3)
print(Set1)

TypeError: set expected at most 1 argument, got 3

In [118]:
Set1=set([1,2,3])
print(Set1)

{1, 2, 3}

In [120]:
Set2=set(["Sri","Ram"])
print(Set2)

{'Sri', 'Ram'}

In [121]:
Set3=set()
print(Set3)

set()

In [122]:
Set3.add(8)
Set3.add((6,7))
print(Set3)

{8, (6, 7)}

In [123]:
Set3.update([10,11])
print(Set3)

{8, (6, 7), 10, 11}

In [124]:
for i in Set3:
    print(i, end=" ")

8 (6, 7) 10 11

In [125]:
Set3.remove(10)
print(Set3)

{8, (6, 7), 11}

In [126]:
Set3.pop()
print(Set3)

{(6, 7), 11}

In [127]:
Set3.clear()
print(Set3)

set()

In [128]:
Dict={}
print(Dict)

{}

In [129]:
Dict={1:'Sri',2:'Ram'}
print(Dict)

{1: 'Sri', 2: 'Ram'}

In [130]:
Dict={'Name':'Sri', 2:[1,2,3,4]}
print(Dict)

{'Name': 'Sri', 2: [1, 2, 3, 4]}

In [131]:
Dict[0]='Jai'
Dict[2]='Hanuman'
Dict[3]=4
print(Dict)

{'Name': 'Sri', 2: 'Hanuman', 0: 'Jai', 3: 4}

In [132]:
print(Dict[2])

Hanuman

In [133]:
print(Dict.get(0))

Jai

In [134]:
Dict.pop(2)
print(Dict)

{'Name': 'Sri', 0: 'Jai', 3: 4}

In [135]:
Dict.popitem()

(3, 4)

In [136]:
print(Dict)

{'Name': 'Sri', 0: 'Jai'}

In [137]:
# default arguments
def func1(x, y=20):
    print("x: ", x)
    print("y: ", y)
func1(10)

x:  10
y:  20