In [1]:
input("Please enter an integer: ")

Please enter an integer:  32

'32'

In [5]:
x = input("Please enter an integer: ")
x

Please enter an integer:  9

'9'

In [6]:
type(x)

str

In [11]:
x = int(input("Please enter an integer: "))
x

Please enter an integer:  5

5

In [8]:
type(x)

int

In [14]:
x = int(input("Please enter an integer: "))
print(x)

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('zero')
elif x == 1:
    print('Single')
else:
    print("x is greater than 0")

Please enter an integer:  2

2
x is greater than 0

In [3]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [4]:
users = {'Hans': 'active', 'Zimmer': 'inactive', 'Jack': 'active'}

In [5]:
users

{'Hans': 'active', 'Zimmer': 'inactive', 'Jack': 'active'}

In [6]:
users.copy()

{'Hans': 'active', 'Zimmer': 'inactive', 'Jack': 'active'}

In [8]:
users.copy().items()

dict_items([('Hans', 'active'), ('Zimmer', 'inactive'), ('Jack', 'active')])

In [9]:
for user in users.copy().items():
    print(user)

('Hans', 'active')
('Zimmer', 'inactive')
('Jack', 'active')

In [10]:
for user in users.copy():
    print(user)

Hans
Zimmer
Jack

In [11]:
for user, status in users.copy():
    print(user, status)

ValueError: too many values to unpack (expected 2)

In [13]:
('Jack', 'active')

('Jack', 'active')

In [14]:
# sequence - list, tuple, dict

x = ('Jack')
x

'Jack'

In [15]:
x, y = ('Jack', 'active')
x, y

('Jack', 'active')

In [16]:
x

'Jack'

In [17]:
y

'active'

In [18]:
a, b, c = (1, 2, 3)

In [19]:
a

1

In [20]:
b

2

In [21]:
c

3

In [22]:
p, q = (1, 2, 3)

ValueError: too many values to unpack (expected 2)

In [23]:
p, q, r = (1, 2)

ValueError: not enough values to unpack (expected 3, got 2)

In [24]:
users.copy()

{'Hans': 'active', 'Zimmer': 'inactive', 'Jack': 'active'}

In [25]:
for user in users.copy():
    print(user)

Hans
Zimmer
Jack

In [26]:
for user in users.copy().items():
    print(user)

('Hans', 'active')
('Zimmer', 'inactive')
('Jack', 'active')

In [28]:
users.copy().items()

dict_items([('Hans', 'active'), ('Zimmer', 'inactive'), ('Jack', 'active')])

In [29]:
for user, status in users.copy().items():
    print(user, status)

Hans active
Zimmer inactive
Jack active

In [30]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

users

{'Hans': 'active', 'Jack': 'active'}

In [31]:
users = {'Hans': 'active', 'Zimmer': 'inactive', 'Jack': 'active'}

In [32]:
users

{'Hans': 'active', 'Zimmer': 'inactive', 'Jack': 'active'}

In [33]:
users.items()

dict_items([('Hans', 'active'), ('Zimmer', 'inactive'), ('Jack', 'active')])

In [34]:

for user, status in users.items():
    if status == 'inactive':
        del users[user]

users

RuntimeError: dictionary changed size during iteration

In [39]:

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user]=status
active_users

{'Hans': 'active', 'Jack': 'active'}

In [36]:
lst = {}
lst["key"]= "value"

In [37]:
lst

{'key': 'value'}

In [38]:
lst["Rama"]="active"
lst

{'key': 'value', 'Rama': 'active'}

In [41]:
# range

for i in range(5):
    print(i)

0
1
2
3
4

In [42]:
for i in range(3, 5):
    print(i)

3
4

In [43]:
lst = []
for i in range(10):
    lst.append(i)

lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
lst = []
for i in range(1, 10):
    lst.append(i)

lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
lst = []
for i in range(1, 11):
    lst.append(i)

lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
[range(1, 11)]

[range(1, 11)]

In [47]:
list([range(1, 11)])

[range(1, 11)]

In [48]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
start = 1
end = 11
step = 1
lst = list(range(start, end, step))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
start = 1
end = 11
step = 1
list(range(start, end, step))
list

list

In [53]:
start = 1
end = 11
step = 1
list(range(start, end, step))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
start = 1
end = 11
step = 1

range(start, , step)

SyntaxError: invalid syntax (2698616550.py, line 5)

In [55]:
start = 1
end = 11
step = 1

range(, , step)

SyntaxError: invalid syntax (989565871.py, line 5)

In [58]:
start = 1
end = 11
step = 1

range(start, end,)

range(1, 11)

In [59]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for ele in a:
    print(ele)

Mary
had
a
little
lamb

In [61]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
len(a)

5

In [62]:
for ele in range(5):
    print(a[ele])

Mary
had
a
little
lamb

In [63]:
for ele in range(len(a)):
    print(a[ele])

Mary
had
a
little
lamb

In [64]:
for ele in range(len(a)):
    print(ele, a[ele])

0 Mary
1 had
2 a
3 little
4 lamb

In [65]:
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [66]:
range(10)

range(0, 10)

In [67]:
start = int(input("Enter a list start value"))
stop = int(input("Enter a list stop value"))
step = int(input("Enter a list step / increment value"))

Enter a list start value 1
Enter a list stop value 11
Enter a list step / increment value 1

In [69]:
# func(range(start, stop, step))

In [70]:
sum(range(4))

6

In [71]:
0 + 1 + 2 + 3

6

In [75]:
start = int(input("Enter a list start value"))
stop = int(input("Enter a list stop value"))

def find_min(rng):
    print(rng)
    print("min", min(rng))

# def find_max(rng):
#     print(rng)
#     print("max", max(rng))

find_min(range(start, stop))

# find_max(range(start, stop))

Enter a list start value 1
Enter a list stop value 15

range(1, 15)
min 1
range(1, 15)
max 14

In [76]:
range(4)

range(0, 4)

In [77]:
list(range(4))

[0, 1, 2, 3]

In [78]:
type(range(4))

range

In [80]:

def find_min(rng):
    print(rng)
    print("min", min(rng))


find_min(range(1, 100000000))

find_min(range(30, 50))

range(1, 100000000)
min 1
range(30, 50)
min 30

In [82]:
sum([0, 1, 2, 3, 4])

10

In [83]:
sum(range(5)) # 0 + 1 + 2 + 3 + 4

10

In [91]:
# break, continue, else

for n in range(2, 5):
    for x in range(2, n):
        print("n -> ", n)
        print("x -> ", x)

n ->  3
x ->  2
n ->  4
x ->  2
n ->  4
x ->  3

In [86]:
range(2, 2)

range(2, 2)

In [87]:
list(range(2,2))

[]

In [92]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [94]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')
else:
    print("success")

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
success

In [95]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')
    break
else:
    print("success")

2 is a prime number

In [96]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            continue
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')
else:
    print("success")

2 is a prime number
3 is a prime number
4 equals 2 * 2
4 is a prime number
5 is a prime number
6 equals 2 * 3
6 equals 3 * 2
6 is a prime number
7 is a prime number
8 equals 2 * 4
8 equals 4 * 2
8 is a prime number
9 equals 3 * 3
9 is a prime number
success

In [97]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [98]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        # continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 2
Found an odd number 3
Found an even number 4
Found an odd number 4
Found an odd number 5
Found an even number 6
Found an odd number 6
Found an odd number 7
Found an even number 8
Found an odd number 8
Found an odd number 9

In [99]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        # continue
    else:
        print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [1]:
# match

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def where_is(point):
    match point:
        case Point(x=0, y=0):
            print("Origin")
        case Point(x=0, y=y):
            print(f"Y={y}")
        case Point(x=x, y=0):
            print(f"X={x}")
        case Point(x=x, y=y):
            print(f"X={x}, Y={y}")
        case Point():
            print("Somewhere else")
        case _:
            print("Not a point")

In [3]:
var = 1
Point(1, var)
Point(1, y=var)
Point(x=1, y=var)
Point(y=var, x=1)

In [4]:
# define a specific position for attributes in patterns by __match_args__ attribute
class Point:
    __match_args__ = ('x', 'y')
    def __init__(self, x, y):
        self.x = x
        self.y = y

def where_is(point):
    match points:
        case []:
            print("No points")
        case [Point(0, 0)]:
            print("The origin")
        case [Point(x, y)]:
            print(f"Single oint {x}, {y}")
        case [Point(0, y1), Point(0, y2)]:
            print(f"Two on the Y axis at {y1}, {y2}")
        case _:
            print("Not a point")

In [ ]:
# case block with guard using an `if` clause
class Point:
    __match_args__ = ('x', 'y')
    def __init__(self, x, y):
        self.x = x
        self.y = y

def where_is(point):
    match point:
        case Point(x, y) if x == y:
            print(f"Y=X at {x}")
        case Point(x, y):
            print(f"Not on the diagonal")