In [ ]:
# keywords
#1 False
#2 None
#3 True
#4 and
#5 as
#6 assert
#7 async
#8 await
#9 break
#10 class
#11 continue
#12 def
#13 del
#14 elif
#15 else
#16 except
#17 finally
#18 for
#19 from
#20 global
#21 if
#22 import
#23 in
#24 is
#25 lambda
#26 nonlocal
#27 not 
#28 or 
#29 pass
#30 raise
#31 return
#32 try
#33 while
#34 with
#35 yield

In [ ]:
'''1. What sum of money lent out at compound interest will amount to Rs. 968 in 2 years
at 10% per annum, interest being charged annually?
'''

In [ ]:
'''2. A sum fetched a total simple interest of Rs. 4016.25 at the rate of 9 % p.a. in 5 years.
What is the sum?
'''

In [ ]:
'''3. In a college of 300 students, every student reads 5 newspapers and every newspaper
is read by 60 students. The number of newspapers is
'''

In [ ]:
'''4. In how many ways can 21 English and 19 Hindi books be placed in a row so that no
two Hindi books are together
'''

In [ ]:
'''5. The prices of a Car and a Motorcycle are in the ratio 7 : 5. If the Car costs 8000 USD
more than a Motorcycle set, then the price of a Car set is:
'''

In [6]:
'''6. Solve the following problems:
6.1 Three people eat dinner at a restaurant and want to split the bill. The total
is 352 Rs, and they want to leave a 15% tip. How much should each person pay?
6.2 Calculate the area and perimeter of a rectangular room, 12.5 meters by 16.7
meters.
6.3 If there are 3 buildings with 25 Ninjas hiding on each roof and 2 tunnels
with 40 Samurai hiding inside each tunnel, how many Ninjas and Samurai
are about to do battle?
'''
# Solution 6.1
# people = 3
# total = 352
# tip = 15/100

people = int(input("Enter no of people: "))
total = float(input("Enter bill total: "))
tip = float(input("Enter tip: "))
tip = tip/100

tipSplit = (total * tip) / people
totalSplit = total/people
pay = totalSplit + tipSplit
print("Each person pay: ", pay)

Enter no of people: 3
Enter bill total: 352
Enter tip: 15
Each person pay:  134.93333333333334

Enter length of rectangle12.5
Enter width of rectangle16.7
area of  12.5  m by  16.7  m  208.75

In [7]:
# Solution 6.2
# 12.5 * 16.7
# length = 12.5
# width = 16.7
length = float(input("Enter length of rectangle: "))
width = float(input("Enter width of rectangle: "))
area = length * width
print("area of", length, "m by", width, "m ", area)

Enter length of rectangle: 12.5
Enter width of rectangle: 16.7
area of  12.5 m by  16.7 m  208.75

In [8]:
'''6.3 If there are 3 buildings with 25 Ninjas hiding on each roof and 2 tunnels
with 40 Samurai hiding inside each tunnel, how many Ninjas and Samurai
are about to do battle?'''
building = 3
tunnels = 2
ninjas = 25
samurai = 40
print(building * ninjas, "Ninjas and", tunnels * samurai, "Samurai will battle")

75 Ninjas and 80 Samurai will battle

In [2]:
'''7. Write a program that calculates and prints the number of minutes in a year.'''
year = int(input("Enter no of years: "))
months = 12
days = 365
hours = 24
minutes = 60

print("minutes in ", year, " year ", year * days * hours * minutes)

Enter no of years: 2
minutes in  2  year  1051200

In [4]:
'''8. Light travels at 3 * 108 meters per second. A light-year is the distance a light beam

travels in one year. Write a program that calculates and displays the value of a light-
year.
'''
import math
print(3.0 * math.pow(10,8) * 365 * 24 * 3600)

9460800000000000.0

In [ ]:
'''9. Translate each of the following math expressions into a Python command.

Assume that the math library has been imported (using import math).
'''

In [8]:
#a. 
(3+4)*5

4.47213595499958

1.0

In [ ]:
#b. 
n=10
n*(n-1)/2

In [ ]:
#c.
r=20
4*3.147*r*r

In [ ]:
#d. 
import math
a=30
r=20
print(math.sqrt(r*math.pow(math.cos(a),2)+r*math.pow(math.sin(a),2)))

In [12]:
#e.
y1=1
y2=2
x1=3
x2=4
(y2-y1)/(x2-x1)

1.0

In [ ]:
''' 10: Assume that x is 3 and y is 5. Write the values of the following expressions:
a. x == y
b. x > y - 3
c. x <= y - 2
d. x == y or x > 2
e. x != 6 and y > 10
f. x > 0 and x < 100
'''

In [5]:
# a. x == y
3 == 5

False

In [8]:
# b. x > y - 3
3 > 5 - 3
# 3 > 2

True

In [9]:
# c. x <= y - 2
3 <= 5 - 2
# 3 <= 3

True

In [12]:
# d. x == y or x > 2
3 == 5 or 3 > 2
# False or True

True

In [13]:
# e. x != 6 and y > 10
3 != 6 and 5 > 10
# True and False

False

In [16]:
# f. x > 0 and x < 100
3 > 0 and 5 < 100
# True and True

True

In [20]:
'''
12. The body mass index (BMI) is calculated as a person’s weight (in pounds) times 720, divided by the square of the person’s height (in inches). A BMI in the range 19–25 is
healthy. Write a program that calculates a person’s BMI and prints a message telling whether they are above, within, or below the healthy range.
'''
weight = float(input("Enter person's weight: "))
height = float(input("Enter person's height: "))
weightInPounds = weight * 2.205
heightInInches = height * 12
bmi= (weightInPounds * 720.0) / (heightInInches ** 2)
if bmi < 19:
    print("BMI: ",bmi ,", Person is below healthy range", end="\n")
elif bmi > 25:
    print("BMI: ",bmi ,", Person is above healthy range", end="\n")
else:
    print("BMI: ",bmi ,", Person is within healthy range", end="\n")

Enter person's weight: 85
Enter person's height: 5.5
BMI:  30.979338842975206 , Person is above healthy range

In [25]:
'''
13. Write a program which prompts the user for a 3 digit integer and checks whether the middle digit is equal to the sum of the other two digits. The program should print an appropriate response. Hint: use the // and % operations.
Middle digit is equal to sum of first and last digit
363
484
121

Middle digit is not equal to sum of first and last digit
243

'''
num = int(input("Enter 3 digit number: "))
if len(str(num)) > 3:
    print("Invalid entry, Please enter 3 digit number only")
else:
    sums = 0
    middle = 0
    temp = num
    i = 1
    while temp > 0:
        temp = temp % 10
        print(i, "%", temp)
        if i == 2:
            middle = temp
        else:
            sums = sums + temp
        temp = temp // 10
        print(i, "//", temp)
        i = i + 1
    if middle == sums:
      print('Middle digit is equal to sum of first and last digit')
    else:
      print("Middle digit is not equal to sum of first and last digit")

Enter 3 digit number: 363
1 % 3
1 // 0
Middle digit is not equal to sum of first and last digit

In [ ]:
'''
14. Accept the distance in Meter from User and Convert into, foot, yard, mile, meter, kilometer and inches

Distance
1 foot = 12 inches
1 yard = 3 feet
1 mile = 5,280 feet
1 mile ≈ 1.61 kilometers
1 inch = 2.54 centimeters
1 foot = 0.3048 meters
1 meter = 1,000 millimeters
1 meter = 100 centimeters
1 kilometer = 1,000 meters
1 kilometer ≈ 0.62 miles
'''

In [ ]:
'''15.Write a Python program to convert temperatures to and from celsius,
fahrenheit.
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f =
temperature in fahrenheit ]
'''